In [1]:
import pandas as pd

In [2]:
# cadUnico_2012 = pd.read_csv('../BasesCompletas/base_amostra_familia_201212_20190131.csv', sep=';', low_memory=False)
# cadUnico_2013 = pd.read_csv('../BasesCompletas/base_amostra_familia_201312_20190131.csv', sep=';', low_memory=False)
# cadUnico_2014 = pd.read_csv('../BasesCompletas/base_amostra_familia_201412_20190131.csv', sep=';', low_memory=False)
# cadUnico_2015 = pd.read_csv('../BasesCompletas/base_amostra_familia_201512_20190131.csv', sep=';', low_memory=False)
cadUnico_2016 = pd.read_csv('../BasesCompletas/base_amostra_familia_201612_20190131.csv', sep=';', low_memory=False)
cadUnico_2017 = pd.read_csv('../BasesCompletas/base_amostra_familia_201712_20190131.csv', sep=';', low_memory=False)
cadUnico_2018 = pd.read_csv('../BasesCompletas/base_amostra_familia_201812.csv', sep=';', low_memory=False)

In [3]:
# Listas com os códigos IBGE dos municípios do Rio Grande do Norte
municipios_rio_grande_do_norte = [
    2400109, 2400208, 2400307, 2400406, 2400505, 2400604, 2400703, 2400802, 2400901, 2401008,
    2401107, 2401206, 2401404, 2401453, 2401503, 2401602, 2401651, 2401701, 2401800, 2401859,
    2401909, 2402006, 2401305, 2402105, 2402204, 2402303, 2402402, 2402501, 2402600, 2402709,
    2402808, 2402907, 2403004, 2403103, 2403202, 2403301, 2403400, 2403509, 2403608, 2403707,
    2403756, 2403806, 2403905, 2404002, 2404101, 2404200, 2404309, 2404408, 2404507, 2404606,
    2404705, 2404804, 2404853, 2404903, 2405009, 2405108, 2405207, 2405306, 2405405, 2405504,
    2405603, 2405702, 2405801, 2405900, 2406007, 2406106, 2406155, 2406502, 2406601, 2406205,
    2406304, 2406403, 2406700, 2406809, 2406908, 2407005, 2407104, 2407203, 2407252, 2407302,
    2407401, 2407500, 2407609, 2407708, 2407807, 2407906, 2408003, 2408102, 2408201, 2408300,
    2408409, 2408508, 2408607, 2408706, 2408805, 2408904, 2403251, 2409100, 2409209, 2409308,
    2409407, 2409506, 2409605, 2409704, 2409803, 2409902, 2410009, 2410108, 2410207, 2410256,
    2410405, 2410504, 2410603, 2410702, 2410801, 2410900, 2408953, 2411007, 2411106, 2411205,
    2409332, 2411403, 2411429, 2411502, 2411601, 2411700, 2411809, 2411908, 2412005, 2412104,
    2412203, 2412302, 2412401, 2412500, 2412559, 2412609, 2412708, 2412807, 2412906, 2413003,
    2413102, 2413201, 2410306, 2413409, 2413300, 2413359, 2413508, 2413557, 2413607, 2413706,
    2413805, 2413904, 2414001, 2414100, 2414159, 2411056, 2414209, 2414308, 2414407, 2414456,
    2414506, 2414605, 2414704, 2414753, 2414803, 2414902, 2415008
]

### Base RN/2012

In [11]:
cadunico_rn_2012 = cadUnico_2012[cadUnico_2012['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2012.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
8606,2405801,2,3,1573116,2001-11-19,2012-09-26,41,1.0,1.0,7.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,4,"4,61492813367753",1
8674,2411429,1,3,2301595,2001-11-19,2012-08-06,311,1.0,1.0,5.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2,"6,96709909443676",0
8675,2411429,1,3,2301622,2001-11-19,2011-03-11,170,1.0,1.0,7.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3,"6,96709909443676",0
8676,2411429,1,3,2301623,2001-11-19,2011-07-22,50,1.0,1.0,5.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,4,"4,61362689750316",1
8677,2411429,1,3,2301653,2001-11-19,2012-08-16,207,1.0,1.0,5.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3,"6,96709909443676",0

In [12]:
cadunico_rn_2012.to_csv('cadunico_rn_2012.csv', index=False, sep=';')

### Base RN/2013

In [13]:
cadunico_rn_2013 = cadUnico_2013[cadUnico_2013['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2013.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
7831,2404804,1,3,2516294,2001-11-19,2013-09-09,175,1.0,1.0,6.0,...,2.0,2.0,CENTRO DE SAUDE DE IPUEIRA,2476126.0,CRAS,2.404803e+10,205.0,5,"5,41492649513679",0
7832,2404804,1,3,2516325,2001-11-19,2013-12-09,194,1.0,1.0,6.0,...,2.0,2.0,CENTRO DE SAUDE DE IPUEIRA,2476126.0,NaN,NaN,205.0,4,"5,41492649513679",0
8491,2411429,1,3,2511654,2001-11-19,2013-08-28,452,2.0,1.0,6.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,3,"5,41492649513679",0
8492,2411429,1,3,2511655,2001-11-19,2012-08-06,311,1.0,1.0,5.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2,"5,41492649513679",0
8493,2411429,1,3,2511656,2001-11-19,2013-09-04,352,1.0,1.0,8.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,3,"5,41492649513679",0

In [14]:
cadunico_rn_2013.to_csv('cadunico_rn_2013.csv', index=False, sep=';')

### Base RN/2014

In [15]:
cadunico_rn_2014 = cadUnico_2014[cadUnico_2014['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2014.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
4376,2412708,1,3,2868663,2001-11-30,2014-07-30,155,2.0,1.0,7.0,...,2.0,2.0,CENTRO DE SAUDE DE SAO PEDRO,2475030.0,CASA DAS FAMILIAS,2.412701e+10,0.0,4,"5,3353350560452",1
5216,2408003,2,3,4763485,2001-12-02,2013-03-22,169,1.0,1.0,5.0,...,2.0,2.0,UBS DR CHICO COSTA,2503778.0,NaN,NaN,0.0,4,"5,3353350560452",1
7487,2404804,1,3,2753400,2001-11-19,2013-09-02,339,1.0,1.0,6.0,...,2.0,2.0,CENTRO DE SAUDE DE IPUEIRA,2476126.0,NaN,NaN,NaN,2,"5,3353350560452",0
7488,2404804,1,3,2753401,2001-11-19,2014-02-27,364,2.0,1.0,5.0,...,2.0,2.0,CENTRO DE SAUDE DE IPUEIRA,2476126.0,NaN,NaN,NaN,4,"5,3353350560452",0
7489,2404804,1,3,4109,2001-11-19,2014-04-02,113,1.0,1.0,5.0,...,2.0,2.0,CENTRO DE SAUDE DE IPUEIRA,2476126.0,CRAS,2.404803e+10,205.0,6,"5,3353350560452",1

In [16]:
cadunico_rn_2014.to_csv('cadunico_rn_2014.csv', index=False, sep=';')

### Base RN/2015

In [17]:
cadunico_rn_2015 = cadUnico_2015[cadUnico_2015['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2015.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
13,2412609,2,3,14,2002-06-17,2014-03-11,113,2013-06-20,1.0,1.0,...,2.0,2.0,UNIDADE DE APOIO AO PSF DE SANTOS DUMONT,2475421.0,CRAS CENTRO DE REFERENCIA DE ASSISTENCIA SOCIAL,2.412600e+10,0.0,6,"5,18606727579984",0
34,2403251,2,2,35,2009-08-21,2013-07-31,78,2013-07-31,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,3,"5,18691081388483",1
51,2411601,1,3,52,2002-06-05,2014-01-28,361,2014-01-28,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,2,"5,18705639548332",0
417,2409100,1,3,420,2007-03-14,2013-08-06,12,2013-08-06,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,3,"5,18705639548332",1
424,2400208,2,3,427,2004-05-18,2015-05-21,95,2015-05-21,1.0,1.0,...,2.0,2.0,CC DR EZEQUIEL E DA FONSECA FILHO,2410508.0,NaN,NaN,0.0,3,"5,18658335858644",1

In [18]:
cadunico_rn_2015.to_csv('cadunico_rn_2015.csv', index=False, sep=';')

### Base RN/2016

In [4]:
cadunico_rn_2016 = cadUnico_2016[cadUnico_2016['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2016.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
5148,2403251,2,2,6396,2009-05-23,2014-08-21,241,2014-08-21,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3,"5,33803949954462",0
5149,2407104,2,2,6397,2008-09-12,2016-12-07,194,2016-12-06,2.0,1.0,...,2.0,2.0,E S F CAJAZEIRAS,2473550.0,TAVARES DE LIRA,2.407100e+10,NaN,5,"5,3383042262907",1
5150,2407104,2,2,6398,2015-11-10,2016-08-22,440,2016-08-22,2.0,1.0,...,2.0,1.0,POSTO DE SAUDE DE CAPOEIRAS,2473607.0,TAVARES DE LIRA,2.407100e+10,0.0,2,"5,3383042262907",0
5151,2402600,2,2,6399,2002-07-23,2016-05-23,176,2016-05-23,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,5,"5,33771960191186",0
5152,2407500,1,2,6400,2008-05-05,2016-09-06,75,2016-09-06,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,4,"5,33805996950886",1

In [5]:
cadunico_rn_2016.to_csv('cadunico_rn_2016.csv', index=False, sep=';')

### Base RN/2017

In [20]:
cadunico_rn_2017 = cadUnico_2017[cadUnico_2017['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2017.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,marc_pbf
85,2412500,2,3,86,2017-07-25,2017-10-25,0,2017-07-25,1.0,1.0,...,2.0,2.0,UNIDADE MISTA HOSPITAL AUREA MAIA DE FIGUEIREDO,2381206.0,NaN,NaN,0.0,1,"5,1667852304105",1
191,2413102,1,3,193,2008-01-07,2017-05-18,0,2017-05-17,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,4,"5,16854688409546",1
288,2412500,2,3,290,2007-05-05,2017-08-19,1,2017-08-18,2.0,1.0,...,2.0,2.0,UNIDADE MISTA HOSPITAL AUREA MAIA DE FIGUEIREDO,2381206.0,NaN,NaN,0.0,5,"5,1667852304105",1
331,2402303,2,3,333,2002-08-28,2015-02-24,12,2015-02-24,1.0,1.0,...,2.0,2.0,CENTRO DE SAUDE DE CARAUBAS DR JOAO MARINALDO ...,2410168.0,CRAS EDIGARDO BRAGA,2.402300e+10,0.0,5,"5,17026689824757",1
429,2403251,2,2,431,2017-01-24,2017-01-25,96,2017-01-24,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,2,"5,16816114265794",0

In [21]:
cadunico_rn_2017.to_csv('cadunico_rn_2017.csv', index=False, sep=';')

### Base RN/2018

In [23]:
cadunico_rn_2018 = cadUnico_2018[cadUnico_2018['cd_ibge'].isin(municipios_rio_grande_do_norte)]

cadunico_rn_2018.head()

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,marc_pbf,qtde_pessoas,peso.fam
2367,2414803,1,2,3022.0,2017-12-04,2018-10-01,312.0,2017-12-04,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,0,3,550277487854843
2368,2407104,2,2,3023.0,2017-03-28,2017-03-30,75.0,2017-03-28,1.0,1.0,...,2.0,2.0,E S F MORADA DA FE,2473488.0,CRAS FABRICIO GOMES PEDROZA,2.407102e+10,0.0,1,2,550309766683735
2369,2402600,2,2,3024.0,2012-09-24,2016-04-15,60.0,2016-04-15,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,5,550245146328323
2370,2402600,2,2,3025.0,2011-02-17,2015-03-17,394.0,2015-03-17,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,0,2,550245146328323
2371,2403608,2,2,3026.0,2012-01-09,2018-10-01,66.0,2017-03-13,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,205.0,1,3,550377509002049

In [24]:
cadunico_rn_2018.to_csv('cadunico_rn_2018.csv', index=False, sep=';')

### Mesclando os dados

In [25]:
# Mesclando os arquivos CSV em um único DataFrame
cadunico_combined = pd.concat([cadUnico_2012, cadUnico_2013, cadUnico_2014, 
                              cadUnico_2015, cadUnico_2016, cadUnico_2017, cadUnico_2018], 
                              ignore_index=True)

In [26]:
# Filtrando os dados apenas para os municípios do RN
cadunico_rn_combined = cadunico_combined[cadunico_combined['cd_ibge'].isin(municipios_rio_grande_do_norte)]

# Salvando o arquivo filtrado
cadunico_rn_combined.to_csv('cadunico_rn_combined.csv', index=False, sep=';')